@media only screen and (min-width: 1200px) {
    body{
        background-image: url(../images/header-shapes-desktop.jpg);
        background-repeat: no-repeat;
        background-size:  auto;
        margin-right: 100px;
        margin-left: 100px;
    }
    .flex_item_left{
        align-self: flex-start;
    }
    .flex-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
       
        
    }
    .flex_item_right{
        display: flex;
        position: absolute;
        color: #6070FF;
        align-self: flex-end;
    
       }
       .flex_item_left{
        position: static;
        width: 76px;
        height: 20px;
        left: 12px;
        top: 10px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #6070FF;
        order: 0;
        flex-grow: 0;
        margin: 0px 24px;
        align-self: flex-start;
        }
        
    .marine{
        position: static;
width: 920px;
height: 122px;
left: 0px;
top: 0px;

/* Header / 1 */

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 60px;
/* or 125% */

display: flex;
align-items: center;
letter-spacing: 0.37px;

/* Theme 1 / Neutrals 1 */

color: #091E42;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 200px 200px 0px 200px;


    }
    .first_content{
        margin: 0px 200px 0px 200px;
        font-family: Poppins;
        color: #172B4D;
    }

    .connect{
    position: static;
    width: 117px;
    height: 24px;
    left: 0px;
    top: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7F8CFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 200px;
    }


    .flex_container_2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 200px;
        column-gap: 8px;
    }
    .flex_container_2 a{
        color: #172B4D;
    }
   
   
}