@media only screen and (min-width: 1200px) {
 
  .my_main {
    height: 600px;
    background-image: url(../images/header-shapes-desktop.jpg);
  }

  .flex_item_right {
    display: flex;
    position: absolute;
    color: #6070ff;
    align-self: flex-end;
  }

  .flex_item_left {
    align-self: flex-start;
    position: static;
    width: 76px;
    height: 20px;
    left: 12px;
    top: 10px;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    order: 0;
    flex-grow: 0;
    margin: 0 24px;
  }

  .my_main h1 {
    height: 122px;
    left: 0;
    top: 0;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.37px;
    color: #091e42;
    padding: 250px 200px 0 200px;
  }

.first_content {
  padding: 70px 200px 0 200px;
  color: #172b4d;
}

  .connect {
    position: static;
    width: 117px;
    height: 24px;
    left: 0;
    top: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 200px;
    margin-top: 50px;
  }

  .flex_container_2 {
    margin-left: 200px;
    column-gap: 15px;
  }

/* section */


.section_parent{
  margin: 100px 120px 120px 120px;
}
.first-snapshoot{
  content: url(../images/Snapshoot\ Portfolio\ desktop.png);
}
.second-snapshoot{
  content: url(../images/Snapshoot\ Portfolio2\ desktop.png);
}
.third-snapshoot{
  content: url(../images/Snapshoot\ Portfolio3\ desktop.png);
}
.fourth-snapshoot{
  content: url(../images/Snapshoot\ Portfolio4\ desktop.png);
}
.section{
  width: 1156px;
  height: 496px;
  border: 1px solid #DFE1E6;
  background: #FFFFFF;
  border-radius: 24px;
  margin-bottom: 100px;
}
.flex_container_section{
  padding:24px  ;
  display: flex;
  /* width: 100%; */
  
}
.img-sec{
  order: 1;
  
}
.content_section_1{
  padding-left: 46px;
  padding-top: 24px;
 width: 500px;
  
}
.tonic{
  font-weight: bold;
font-size: 40px;
line-height: 52px;
color: #091E42
}
.flex_container_section_2{
  padding-top: 10px;
  
}

.content_section_1 p{

  color: #344563;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-top: 35px;
}
.flex_container_section_3{
   margin-top: 20px;
  
  
}


.button:hover{
  background: #4053FC;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(173, 168, 168, 0.19);
}
.button a:hover{
color: white;
}
.about_myself{
  background:white;
  display: flex;
  padding: 114px 150px 0px 150px;
  
}
.about_myself_1{
  order: 0;
  width: 440px;
 
}
.dropdown{
  padding-left: 40px;
}
.contact_me{
  background:  #6070FF;
  color: white;
  padding: 100px 400px 100px 400px;
  text-align: center;
}
.contact_me input:nth-child(3){
  border-radius: 2px;
}
.contact_me input:nth-child(5){
  border-radius: 2px;
}
.contact_me input:nth-child(7){
  border-radius: 2px;
 
}
.contact_me button{
  margin-top: 20px;
  background: #FFFFFF;
  border-radius: 8px;
}
}
