@media only screen and (max-width: 600px) {
body{
    background-image: url(../images/header-shapes-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
   
}
.flex_item_right{
display: flex;
position: absolute;
color: #6070FF  ;
align-self: flex-end;

}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  
}
.flex_item_left{
position: static;
width: 80px;
height: 20px;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;
color: #6070FF;
order: 0;
flex-grow: 0;
margin-left: 24px;
align-self: flex-start;
}
.marine{
position: static;
width: 327px;
height: 150px;
left: 24px;
top: 114px;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 52px;
display: flex;
align-items: center;
color: #172B4D;
flex: none;
order: 0;
flex-grow: 0;
margin: 0 24px;
padding-top:120px ;
}
.first_content{
 position: static;
left: 24px;
top: 276px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #344563;
flex: none;
order: 1;
flex-grow: 0;
margin: 0    24px;
}
.connect{
    position: static;
width: 117px;
height: 24px;
left: 0px;
top: 0px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #7F8CFF;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;
}
.fa_twitter{
 position: absolute;
left: 6.4%;
right: 88.27%;
bottom: 18.88%;


}
.flex_container_2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 8px;
    
}
.flex_container_2 a{
    color: #172B4D;
}
.twitter_logo{
    margin-left: 24px;
}
}