
.my_main {
  background-image: url(../images/header-shapes-mobile.jpg);
  height: 818px;
  width: 100%;
  padding-top: 50px;
}

.flex_item_right {
  display: flex;
  position: absolute;
  color: #6070ff;
  align-self: flex-end;
  margin-right: 24px;
}

.flex_item_left {
  position: static;
  width: 80px;
  height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  order: 0;
  flex-grow: 0;
  margin-left: 24px;
  align-self: flex-start;
}

.flex_item_left a {
  text-decoration: none;
  color: #6070ff;
  font-size: 18px;
  line-height: 20px;
}

.my_main h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  margin: 0 24px;
  padding-top: 150px;
}

.first_content p {
  position: static;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 24px;
  padding-top: 20px;
}

.connect {
  position: static;
  width: auto;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 24px;
  padding-top: 30px;
}

.flex_container_2 {
  column-gap: 15px;
  margin-top: 30px;
  margin-left: 20px;
}

section {
  margin-top: 88px;
  height: 596px;
  width: 327px;
  background-color: white;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 20px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
}

section:nth-child(1) {
  margin-top: 114px;
}

.image_section_1 {
  position: static;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
  width: auto;
}

section:nth-of-type(2) .image_section_1 {
  order: 0;
}

.snapshoot {
  width: auto;
}

.tonic {
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.flex_container_section_2 {
  margin: 0;
  width: 100%;
  padding: 0;
  margin-top: 20px;
}

.content_section_1 p {
  margin-top: 20px;
  font-size: 15px;
}

.flex_container_section_3 {
  width: auto;
  margin-top: 10px;
}

.button:hover {
  background-color: white;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(173, 168, 168, 0.19);
}

/* footer */

.my_footer {
  margin-top: 114px;
  background-color: white;
}

.about_myself {
  position: static;
  left: 0;
  top: 0;
  color: #172b4d;
  padding: 114px 0 0 24px;
}

.about_myself h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.about_myself p {
  font-size: 16px;
  line-height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.about_myself p:nth-child(3) {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.flex_container_myself {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 20px;
  padding-left: 15px;
  padding-top: 26px;
}

.flex_container_myself a {
  color: #505f79;
  font-size: 23px;
  text-decoration: none;
}
