/* Base styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0px;
    margin:0px
}
body,html{

    width: 100%;
    background-color: #E5E5E5;
    font-family: Poppins;
   
}
header {
    background-color: white;
  }
  .my_main{
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.my_main h1{
    position: static;
    display: flex;
    align-items: center;
    order: 0;
    flex-grow: 0;
    flex: none;

}

.marine,.first_item_left{
    font-style: normal;
    font-weight: bold;
}
.connect,.first_content,.first_item_left,.myLogo{
    font-family: 'poppins', sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
  }
.flex_container_2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 40px;
}
.flex_container_2 a {
    color: #172b4d;
    text-decoration: none;
    padding: 3px;
    font-size: 23px;

}
.content_section_1 {
  position: static;
  width: 295px;
  left: 0;
  top: 92px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 5px 0;
}
.flex_container_section_2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 20px;
    align-items: left;
  }
  .flex_container_section_2 li:nth-child(1){
    list-style: none;
    padding: 0px;
  }
  .flex_container_section_2 li{
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #7A869A;
    list-style-position: inside;
    }
    .flex_container_section_3{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        column-gap: 8px; 
        flex: none;
         order: 0;
         flex-grow: 0;
         padding-top: 12px;
    }
    .flex_container_section_3 li{
        list-style: none;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.03em;
        color: #6070FF;
        display: inline-block;
        border: 2px solid #EBEBFF;
       background-color: #EBEBFF;
       text-align: center;
      
      }
      .flex_container_section_3 li:nth-child(1){
        border-radius: 8px;
        width: 53px;
        height: 24px;
        
      }
      .flex_container_section_3 li:nth-child(2){
        border-radius: 8px;
        width: 45px;
        height: 24px;
        
      }
      .flex_container_section_3 li:nth-child(3){
        border-radius: 8px;
        width: 89px;
        height: 24px;
        
      }
      .button{
  
        border: 1px solid #396DF2;
      box-sizing: border-box;
      border-radius: 16px;
      width: 150px;
      height: 50px;
      margin-top: 20px;
      cursor: pointer;
      background-color: white   ;
      
      
      }
      .button a{
        font-weight: 500;
        font-size: 17px;
        line-height: 24px;
        text-decoration: none;
        color: #396DF2; 
        display: flex;
        justify-content: center;
        letter-spacing: 0.03em;
        
        }
    
        .contact_me input:nth-child(3){
            border: 1px solid #CFD8DC;
            border-radius: 8px;
            background: #FFFFFF;
            margin-top: 40px;
            width: 100%;
            height: 47px;
          }
          .contact_me input:nth-child(5){
            border: 1px solid #CFD8DC;
            border-radius: 8px;
            background: #FFFFFF;
            margin-top: 20px;
            width: 100%;
            height: 47px;
          }
          .contact_me input:nth-child(7){
            border: 1px solid #CFD8DC;
            border-radius: 8px;
            background: #FFFFFF;
            margin-top: 20px;
            width: 100%;
            height: 170px;
           
          }
          .contact_me button{
            margin-top: 20px;
            background: #FFFFFF;
            border-radius: 8px;
          }
          
 

  
 