/* Base styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.myLogo{
font-family: 'Poppins', sans-serif;
}
.marine,.first_item_left{
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
}
.connect,.first_content{
    font-family: 'poppins', sans-serif;
}